In [120]:
# Import Pandas and Numpy libraries 
import pandas as pd
import numpy as np
# Data Vidualization
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline


# Training and Test Data 
from sklearn.model_selection import train_test_split
# Cross-Validation
from sklearn.cross_validation import KFold
# Machine Learning models
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier as knn
from sklearn.naive_bayes import GaussianNB as GB
from sklearn.svm import SVC
from sklearn.neural_network import MLPClassifier
# Evaluation matrics
from sklearn.metrics import precision_score, \
    recall_score, confusion_matrix, classification_report, \
    accuracy_score, f1_score

# Preprocessing the Data
from sklearn.preprocessing import StandardScaler

In [121]:
# Import Data
import pandas as pd
df_dc= pd.read_csv("C:/Users/chunweil/Cleaned_DCWater.csv")
Important_feature=["Year",'BinomBreak','FrzIndex','DIAMTR','AGE15','FrostAct','Pop','Road','MATRL_CI','LANDUSE_Transport']
dc_water=df_dc.loc[:,Important_feature]
dc_water.head(6)

,Year,BinomBreak,FrzIndex,DIAMTR,AGE15,FrostAct,Pop,Road,MATRL_CI,LANDUSE_Transport
0,1,0,73,20.0,81,3,434,0,1,0
1,1,0,73,16.0,66,2,7,0,1,0
2,1,0,73,16.0,66,2,7,0,1,0
3,1,0,73,16.0,35,0,0,0,0,0
4,1,0,73,16.0,35,0,0,0,0,0
5,1,0,73,24.0,69,0,223,0,0,0

In [122]:
df_test=dc_water.loc[dc_water["Year"]==56,:]
print(df_test.shape)
df_test.to_csv("test_DCwater.csv")

df_train=dc_water.loc[dc_water["Year"]<56,:]
print(df_train.shape)
df_train.to_csv("train_DCwater.csv")

(5331, 10)
(293205, 10)

In [81]:
train= df_train.reindex(columns=["BinomBreak",'FrzIndex','DIAMTR','AGE15','FrostAct','Pop','Road','MATRL_CI','LANDUSE_Transport'])
test=df_train.reindex(columns=['FrzIndex','DIAMTR','AGE15','FrostAct','Pop','Road','MATRL_CI','LANDUSE_Transport'])

In [82]:
df_test_prob=df_test.reindex(columns=['FrzIndex','DIAMTR','AGE15','FrostAct','Pop','Road','MATRL_CI','LANDUSE_Transport'])

In [83]:
# target and predictors
X=train["BinomBreak"]
Y=train.reindex(columns=['FrzIndex','DIAMTR','AGE15','FrostAct','Pop','Road','MATRL_CI','LANDUSE_Transport'])

In [84]:
print(X.shape)
print(Y.shape)

(293205,)
(293205, 8)

In [85]:
# Model Building 
import pandas
from sklearn import model_selection
from sklearn.ensemble import GradientBoostingClassifier
seed=7
num_tree=30
kfold=model_selection.KFold(n_splits=10, random_state=seed)
model_Boosing=GradientBoostingClassifier(n_estimators=num_tree,random_state=seed)

In [86]:
# Model Fitting
a=model_Boosing.fit(Y,np.ravel(X))

In [129]:
#Prediction
prob=a.predict_proba(df_test_prob)
type(prob)

numpy.ndarray

In [130]:
prob=pd.DataFrame(prob)
prob.columns=["Non-Break","Break"]
prob.head(5)

   Non-Break     Break
0   0.998711  0.001289
1   0.996832  0.003168
2   0.996832  0.003168
3   0.999470  0.000530
4   0.999470  0.000530

In [131]:
prob.to_csv("prob_dc_water.csv")

In [133]:
prob.mean()

Non-Break    0.997933
Break        0.002067
dtype: float64